@model IEnumerable<HotelUColombia.Models.Rooms>

@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html style="font-size: 16px;" lang="es">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>dispo</title>
    <link rel="stylesheet" href="nicepage.css" media="screen">
    <link rel="stylesheet" href="dispo.css" media="screen">
    <script class="u-script" type="text/javascript" src="jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="nicepage.js" defer=""></script>
    <meta name="generator" content="Nicepage 5.17.1, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i|Barlow:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">
    <script type="application/ld+json">
        {
                "context": "http://schema.org",
                "type": "Organization",
                "name": "CatCodeStudio",
                "logo": "images/Logo-UniversitariadeColombia.png",
                "sameAs": []
        }</script>
    <meta name="theme-color" content="#29b7dd">
    <meta property="og:title" content="dispo">
    <meta property="og:type" content="website">
    <meta data-intl-tel-input-cdn-path="intlTelInput/">
    <!-- CSS de SweetAlert2 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">

    <!-- JS de SweetAlert2 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>




@foreach (var item in Model)
{
    <body class="u-body u-xl-mode" data-lang="es">
        <section class="u-align-center u-clearfix u-grey-15 u-section-2" id="sec-0679">
            <div class="u-clearfix u-sheet u-valign-top u-sheet-1">
                <div class="u-expanded-width u-tabs u-tabs-1">
                    <ul class="u-spacing-15 u-tab-list u-unstyled" role="tablist">
                        <li class="u-tab-item" role="presentation">
                            <a class="active u-active-white u-button-style u-palette-1-light-1 u-tab-link u-tab-link-1" id="link-tab-0da5" href="#tab-0da5" role="tab" aria-controls="tab-0da5" aria-selected="true">Description</a>
                        </li>
                        <li class="u-tab-item" role="presentation">
                            <a class="u-active-white u-button-style u-palette-1-light-1 u-tab-link u-tab-link-2" id="link-tab-14b7" href="#tab-14b7" role="tab" aria-controls="tab-14b7" aria-selected="false">Specifications</a>
                        </li>
                        <li class="u-tab-item" role="presentation">
                            <a class="u-active-white u-button-style u-palette-1-light-1 u-tab-link u-tab-link-3" id="link-tab-2917" href="#tab-2917" role="tab" aria-controls="tab-2917" aria-selected="false">Reviews</a>
                        </li>
                    </ul>
                    <div class="u-tab-content">
                        <div class="u-container-style u-tab-active u-tab-pane u-white u-tab-pane-1" id="tab-0da5" role="tabpanel" aria-labelledby="link-tab-0da5">
                            <div class="u-container-layout u-valign-bottom-lg u-valign-bottom-sm u-valign-bottom-xl u-valign-top-xs u-container-layout-1">
                                <img alt="" class="u-expanded-width-xs u-image u-image-default u-image-1" data-image-width="7793" data-image-height="5198" src="@item.Image">
                                <ul class="u-custom-list u-text u-text-1">

                                    <li style="padding-bottom:70px">
                                        <span style="font-weight: 700;" class="u-text-custom-color-1">Precio $@item.Price</span>                                      
                                    </li>

                                    @if (item.TV)
                                    {
                                        <li>
                                            <div class="class u-list-icon u-text-palette-1-base">
                                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 512 512" id="svg-0f91" style="font-size: 1.1em; margin: -1.1em;"><path d="m202.6 478-202.6-186.6 70.5-76.6 121.5 111.9 239.4-292.7 80.6 65.9z" fill="currentColor"></path></svg>
                                            </div>TV
                                        </li>
                                    }else
                                    {
                                        <li>
                                            <div class="class u-list-icon u-text-palette-1-base">
                                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 512 512" id="svg-0f91" style="font-size: 1.1em; margin: -1.1em;"><path d="m202.6 478-202.6-186.6 70.5-76.6 121.5 111.9 239.4-292.7 80.6 65.9z" fill="currentColor"></path></svg>
                                            </div>No incluye TV
                                        </li>
                                    }

                                    @if (item.Freezer)
                                    {
                                        <li>
                                            <div class="class u-list-icon u-text-palette-1-base">
                                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 512 512" id="svg-0f91" style="font-size: 1.1em; margin: -1.1em;"><path d="m202.6 478-202.6-186.6 70.5-76.6 121.5 111.9 239.4-292.7 80.6 65.9z" fill="currentColor"></path></svg>
                                            </div>Nevera
                                        </li>
                                    }else
                                    {
                                        <li>
                                            <div class="class u-list-icon u-text-palette-1-base">
                                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 512 512" id="svg-0f91" style="font-size: 1.1em; margin: -1.1em;"><path d="m202.6 478-202.6-186.6 70.5-76.6 121.5 111.9 239.4-292.7 80.6 65.9z" fill="currentColor"></path></svg>
                                            </div>No incluye Nevera
                                        </li>
                                    }

                                    @if (item.Bathroom)
                                    {
                                        <li>
                                            <div class="class u-list-icon u-text-palette-1-base">
                                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 512 512" id="svg-0f91" style="font-size: 1.1em; margin: -1.1em;"><path d="m202.6 478-202.6-186.6 70.5-76.6 121.5 111.9 239.4-292.7 80.6 65.9z" fill="currentColor"></path></svg>
                                            </div>Baño
                                        </li>
                                    }else
                                    {
                                        <li>
                                            <div class="class u-list-icon u-text-palette-1-base">
                                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 512 512" id="svg-0f91" style="font-size: 1.1em; margin: -1.1em;"><path d="m202.6 478-202.6-186.6 70.5-76.6 121.5 111.9 239.4-292.7 80.6 65.9z" fill="currentColor"></path></svg>
                                            </div>No tiene Baño
                                        </li>
                                    }

                                    <li>
                                        <div class="class u-list-icon u-text-palette-1-base">
                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 512 512" id="svg-0f91" style="font-size: 1.1em; margin: -1.1em;"><path d="m202.6 478-202.6-186.6 70.5-76.6 121.5 111.9 239.4-292.7 80.6 65.9z" fill="currentColor"></path></svg>
                                        </div>&nbsp;@item.NumberBeds Camas
                                    </li>
                                </ul>
                                <button class="btnReservar u-btn u-button-style u-palette-1-light-3 u-btn-1" data-room-id="@item.Id">Reservar</button>
                            </div>
                        </div>
                        <div class="u-align-left u-container-style u-tab-pane u-white u-tab-pane-2" id="tab-14b7" role="tabpanel" aria-labelledby="link-tab-14b7">
                            <div class="u-container-layout u-valign-top u-container-layout-2">
                                <p class="u-text u-text-default u-text-2">
                                    ideal para personas que vienen por trabajo<br>
                                    <br>tiene todo lo basico para pasar una noche tranquilo
                                </p>
                                <ol>
                                    <li><strong>Wi-Fi:</strong> Funcional para tareas simples, aunque podría ser más rápido.</li>
                                    <li><strong>Aire acondicionado/calefacción:</strong>Suele ser básico pero efectivo.</li>
                                    <li><strong>Televisión:</strong> Si incluye TV, es de pantalla pequeña, con canales locales o básicos.</li>
                                    <li><strong>Escritorio:</strong> A menudo pequeño, pero suficiente para trabajar o usar una laptop.</li>
                                </ol>

                            </div>
                        </div>
                        <div class="u-container-style u-tab-pane u-white u-tab-pane-3" id="tab-2917" role="tabpanel" aria-labelledby="link-tab-2917">
                            <div class="u-container-layout u-container-layout-3">
                                <h4 class="u-text u-text-default u-text-3">Acomodate!</h4>
                                <p class="u-text u-text-default u-text-4">La habitación es compacta, pensada para necesidades básicas. El diseño es minimalista, con muebles esenciales como una cama individual o matrimonial, una mesita de noche y un armario pequeño. Aunque no es lujosa, está organizada de manera funcional para aprovechar el espacio.</p>
                                <p class="u-text u-text-default u-text-4">La cama es cómoda, aunque el colchón puede ser algo firme para algunos gustos. La iluminación suele ser suficiente para tareas básicas, con una lámpara de noche adicional. Es un espacio tranquilo, ideal para descansar sin distracciones..</p>
                                <a href="" class="u-btn u-button-style u-btn-2">write product review</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
}
</html>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    $(document).ready(function () {
        $(".btnReservar").click(function () {
            // Obtener el ID de la habitación del atributo 'data-room-id'
            var roomId = $(this).data("room-id");

            // Enviar solicitud AJAX
            $.ajax({
                url: '/Bookings/SaveReservation', // Ruta de tu acción en el controlador
                type: 'POST',
                data: { id: roomId },
                success: function (response) {
                    // Mostrar pop-up de éxito
                    Swal.fire({
                        title: '¡Reservado con éxito!',
                        text: response.message,
                        icon: 'success',
                        confirmButtonText: 'Aceptar'
                    });
                },
                error: function (xhr, status, error) {
                    // Mostrar pop-up de error
                    Swal.fire({
                        title: 'Error',
                        text: 'No se pudo completar la reserva. Intenta nuevamente.',
                        icon: 'error',
                        confirmButtonText: 'Aceptar'
                    });
                }
            });
        });
    });
</script>
